body {
  margin: 0;
  text-align: center;
  /* font-family: 'Merriweather', serif; */
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Tapestry', cursive; 
}

h1 {
  color: #66BFBF;
  margin: 0;
  font-family: 'Sacramento', cursive;
  /* font-family: 'Ubuntu', sans-serif;*/
  font-size: 5.0rem;
  margin: 20px auto 0 auto;
  line-height: 1;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #e7eaf6;
  /* font-size: 3em;*/
  position: relative;
  padding-top : 100px;
}

.middle-container {

  background-color: bisque;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;

}

.bottom-container {
  align-self: auto;
  background-color: cyan;
  margin: auto;
  width: auto;
  height:100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right; 
  margin-left: 30px;
  margin-bottom: auto;
}

.top-cloud {
  position: absolute;
  top : 50px;
  right : 300px;
}

.bottom-cloud {
  position: absolute;
  left : 300px;
  bottom: 300px;
}


.btn {
  font-size:15px;
  /* font-family:Arial; */
  width:200px;
  height:82px;
  border-width:6px;
  color:#fff;
  border-color:#18ab29;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
  box-shadow:inset 1px 1px 0px 1px #fff;
  text-shadow:inset 1px 1px 0px #2f6627;
  background:linear-gradient(#44c767, #5cbf2a);
}

.btn:hover {
  background: linear-gradient(#5cbf2a, #44c767);
}
              
